.title {
  color: #61dafb;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.stars {
  border: 1px solid darkblue;
  background-color: lightblue; 
  padding: 4px;
  margin-right: 10px;
  font-weight: bold;
  color: darkblue;
}

.playNine {
  border: 1px solid black;
  margin: 10px;
  width: 500px;
  padding: 10px;
}

.result {
    color: green;
    text-align: center;
    font-weight: bold;
    font-size: 200;
}